html, body {
    margin: 0;
    padding: 0;
    font-family: "Arial" sans-serif;
    font-size: 12px;
}

.header {
    height: 80px;
    background: -webkit-linear-gradient(white, #E7E7E7);
    border-bottom: 1px solid #A0A0A0;
}

.tabbar {
	position: relative;
	z-index: 1;
	white-space: nowrap;
}

.tabbar .tab {
	position: relative;
	display: inline-block;
	color: inherit;
	text-decoration: none;
	padding: 0px 10px 0 0;
	margin: 0 -5px 0 0;
    height: 20px;
    line-height: 20px;
} 

.tabbar .tab::before,
main {
	border: 1px solid #aaa;
}

.tabbar .tab::before {
	content: ''; /* To generate the box */
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: -1;
	border-bottom: none;
	border-radius: 6px 6px 0 0;
	background: #ddd;
	box-shadow: 0 2px hsla(0,0%,100%,.5) inset;
	-webkit-transform: perspective(5px) rotateX(4deg);
	-webkit-transform-origin: bottom left;
	/*-webkit-transform-origin: bottom;*/
}

.tabbar .tab.selected {
	z-index: 2;
}

.tabbar .tab.selected::before {
	margin-bottom: -1px;
	border-top-width: 1px;
}

.tabbar .tab.selected::before,
main {
	background: #eee;
}

main {
	display: block;
	margin: -8px 0 30px 0;
	padding: 10px;
	border-radius: 3px;
}