html, body {
    margin: 0;
    padding: 0;
    font-family: "Arial" sans-serif;
    font-size: 12px;
    background: url(bg-light.png);
    overflow: hidden;
}

.windowdrag {
    -webkit-app-region: drag;
    height: 32px;
    width: 100%;
    right: 100px;
    -webkit-user-select: none;
}

header {
    height: 62px;
    background: url(bg-dark.png);
    position: relative;
}

header .title {
    position: absolute;
    top: 0;
    height: 28px;
    font-weight: bold;
    text-align: center;
    line-height: 28px;
    color: white;
    width: 100%;
}

.windowbuttons {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-app-region: no-drag;
}

.windowbuttons button {
    float: right;
    background: transparent;
    border: none;
    height: 20px;
    width: 32px;
    outline: none;
}

.windowbuttons button:hover {
    background: rgba(0, 0, 0, 0.8);   
}
